@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700&display=swap");
* {
  margin: 0px;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.header nav {
  background-color: #ffffff;
  color: #2e2f42;
  font-size: 16px;
}
.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-right: 76px;
  text-transform: uppercase;
}

.logo span {
  color: #2e2f42;
}
.header nav ul .item {
  color: #2e2f42;
}
.header nav ul .item:focus {
  color: #404bbf;
}
.header nav ul li {
  list-style-type: none;
  letter-spacing: 0.02em;
  margin-right: 40px;
}

.header nav ul li:last-child {
  margin-right: 0px;
}
.header nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  line-height: 24px;
}
.header nav ul li a:hover {
  color: #404bbf;
}
.header nav ul li a:active {
  color: #404bbf;
}
.header .address {
  margin: 24px 156px;
  font-style: normal;
}
.header .address ul li {
  margin-left: 40px;
}
.header .address ul li:last-child {
  margin-left: 0px;
}
.header .address a {
  color: #434455;
  text-decoration: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.header .address a:hover {
  color: #404bbf;
}
.header .address a:focus {
  color: #404bbf;
}

.main .banner {
  background-color: #2e2f42;
  color: white;
  justify-content: center;
}
.main .banner .banner-header {
  font-weight: bold;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 60px;
  line-height: 1.07;
  text-align: center;
}
.main .banner .main-button {
  cursor: pointer;
  background: var(--IRIS, #4d5ae5);
  color: white;
  margin-top: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
}
.main .banner .main-button:hover {
  background-color: #404bbf;
}
.main .banner .main-button:focus {
  background-color: #404bbf;
}

.section-first ul {
  margin: 120px 0px;
  list-style: none;
  justify-content: center;
}
.section-first ul li {
  margin-right: 24px;
}
.section-first ul li:last-child {
  margin-right: 0px;
}
.section-first ul li .sec-header {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.section-first ul li .sec-par {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  color: #434455;
}

.section-second {
  background-color: #f4f4fd;
  justify-content: center;
}
.section-second ul {
  list-style: none;
}
.section-second .sec-header {
  color: var(--NAVY-BLUE, #2e2f42);
  line-height: 1.11;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
  text-align: center;
}
.section-second ul .item {
  justify-content: center;
  background: var(--WHITE, #fff);
  margin-right: 24px;
}
.section-second ul .item:last-child {
  margin-right: 0px;
}
.section-second ul .item .item-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section-second ul .item .item-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.section-third .header {
  margin-top: 120px;
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;

  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.section-third ul {
  list-style: none;
}
.section-third ul li {
  background: var(--WHITE, #fff);
  margin-right: 24px;
  margin-bottom: 48px;
}
.section-third ul li:nth-child(3n + 3) {
  margin-right: 0px;
}
.section-third ul li .header {
  color: var(--NAVY-BLUE, #2e2f42);

  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  margin-left: 20px;
  margin-bottom: 8px;
}
.section-third ul li .par {
  color: var(--SLATE, #434455);

  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  margin-left: 20px;
}

.footer {
  background: var(--NAVY-BLUE, #2e2f42);
  justify-content: center;
}
.footer .paragraph {
  color: var(--CLOUD, #f4f4fd);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.hover-card .placeholder {
  background-color: #4d5ae5;
  color: white;
  letter-spacing: 0.32px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.footer .logo {
  margin-bottom: 17.5px;
  color: #4d5ae5;
}
.footer .logo .logo-text {
  color: #f4f4fd;
}
